telegram_ai_email_workflow.json
{
  "name": "Telegram AI Email Assistant",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "webhookId": "a1b2c3d4-e5f6-g7h8-i9j0-k1l2m3n4o5p6",
      "credentials": {
        "telegramApi": "YOUR_TELEGRAM_API"
      }
    },
    {
      "parameters": {
        "text": "={{ \"You are a Telegram-based assistant helping your user send professional emails.\\n\\nThe user sends you short, raw, or unclear instructions via Telegram. ... User's instruction: \" + $json.message.text }}",
        "promptType": "define"
      },
      "name": "AI Prompt",
      "type": "n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        620,
        300
      ],
      "credentials": {
        "languageModel": {
          "id": "YOUR_GEMINI_API",
          "name": "Google Gemini"
        }
      }
    },
    {
      "parameters": {
        "options": {},
        "code": "const aiResponse = JSON.parse($json.text);\n$json.ai = aiResponse;\nreturn $items;"
      },
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.ai.status }}",
              "value2": "Ready to send"
            }
          ]
        }
      },
      "name": "Is email ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
  "text": "={{ \"Subject: \" + $json.ai.subject + \"\\n\\nBody: \" + $json.ai.body + \"\\n\\nStatus: \" + $json.ai.status + \"\\n\\nReply 'yes' to send.\" }}",
        "additionalFields": {}
      },
      "name": "Send Draft for Approval",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1240,
        200
      ],
      "credentials": {
        "telegramApi": "YOUR_TELEGRAM_API"
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "={{ $json.ai.question + '\n\nStatus: ' + $json.ai.status }}",
        "additionalFields": {}
      },
      "name": "Ask Clarifying Question",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1240,
        400
      ],
      "credentials": {
        "telegramApi": "YOUR_TELEGRAM_API"
      }
    },
    {
      "parameters": {
        "resume": {
          "chat": "={{ $json.message.chat.id }}"
        }
      },
      "name": "Wait for Confirmation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1440,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.text.toLowerCase() }}",
              "operation": "contains",
              "value2": "yes"
            }
          ],
          "boolean": [],
          "number": []
        },
        "options": {
          "caseSensitive": false
        }
      },
      "name": "Did User Confirm?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1640,
        200
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $node['Parse AI Response'].json.ai.recipient }}",
        "subject": "={{ $node['Parse AI Response'].json.ai.subject }}",
        "message": "={{ $node['Parse AI Response'].json.ai.body }}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1840,
        100
      ],
      "credentials": {
        "gmailOAuth2": "YOUR_GMAIL_API"
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Email sent successfully!",
        "additionalFields": {}
      },
      "name": "Notify Email Sent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2040,
        100
      ],
      "credentials": {
        "telegramApi": "YOUR_TELEGRAM_API"
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Okay, I will not send the email.",
        "additionalFields": {}
      },
      "name": "Notify Cancelled",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1840,
        300
      ],
      "credentials": {
        "telegramApi": "YOUR_TELEGRAM_API"
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Telegram Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Prompt": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Is email ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is email ready?": {
      "main": [
        [
          {
            "node": "Send Draft for Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask Clarifying Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Draft for Approval": {
      "main": [
        [
          {
            "node": "Wait for Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Confirmation": {
      "main": [
        [
          {
            "node": "Did User Confirm?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Did User Confirm?": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Notify Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}